@charset "UTF-8";
body {
  font-family: Helvetica, Arial, sans-serif;
  background: #5F9EA0 url(/images/textura.png); }

ol {
  color: #F0F8FF; }

h1 {
  color: #fff;
  font-family: font2;
  margin: 30px 0 0 40px;
  padding: 0px; }

h2 {
  color: #fff;
  font-size: 20px;
  margin: 0px;
  padding: 0px; }

nav {
  font-weight: bold;
  border: 1px solid #999;
  margin-top: 15px; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #666;
    overflow: hidden; }
  nav li {
    float: left; }
  nav a {
    text-decoration: none;
    display: block;
    padding: 8px;
    background: #666;
    color: #fff; }
    nav a:hover {
      background: #333333; }

p {
  font: 25px/1.4 Helvetica, Arial, sans-serif; }

label {
  display: block; }

nav a.current {
  background: #c4c4c4; }

.flash {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: white;
  color: #c30;
  border: 1px solid #c30; }

#like p {
  font-weight: bold;
  color: #c30; }
#like input {
  background: #c30 url(/images/like.png) 0 2px no-repeat;
  border: #992600 1px solid;
  height: 28px;
  padding-left: 24px; }

.loadfile {
  background-color: #444;
  border-radius: 5px;
  border: 2px solid #DDD;
  line-height: 80px;
  height: 20px;
  padding: 5px; }
  .loadfile button, .loadfile input {
    color: #444;
    float: left;
    list-style: none;
    display: inline;
    text-align: center;
    font-weight: bolder; }
  .loadfile button:hover, .loadfile input:hover {
    cursor: pointer; }

.error {
  color: #fff;
  background-color: #c30; }

.centered {
  text-align: center; }

#original {
  border: #999 2px dotted;
  background-color: #fff;
  padding: 10px;
  font-size: 15px;
  height: lin; }

#header p {
  color: #2dc234;
  font-size: 20px;
  font-family: Tahoma, Geneva, sans-serif; }

#OUTPUT {
  color: #fff;
  width: 80%;
  background-color: #111; }

.loadfile {
  font-weight: bold;
  border: 1px solid #999;
  margin-top: 15px; }

.Boton {
  background-color: #2dc234;
  background-image: -webkit-linear-gradient(rgba(41, 150, 47, 0.8), rgba(45, 194, 52, 0.2));
  background-image: -moz-linear-gradient(rgba(41, 150, 47, 0.8), rgba(45, 194, 52, 0.2));
  background-image: -o-linear-gradient(rgba(41, 150, 47, 0.8), rgba(45, 194, 52, 0.2));
  background-image: linear-gradient(rgba(41, 150, 47, 0.8), rgba(45, 194, 52, 0.2));
  -ms-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: inline-block;
  font-family: ‘Pacifico’, Arial, sans-serif;
  font-size: 25px;
  line-height: 1;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(25, 123, 29, 0.7);
  margin: 10px 0 20px 0; }
